Language: Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Middle
UseTab: Always
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
BraceWrapping:
	BeforeLambdaBody: true
