/* Color-Scheme */

* {
    BG:    #18181aff;
    BG2:   #28282fff;
    BGA:   #202020df;
    FG:    #D0D0D0ff;
    BDR:   #DC2430ff;
    SEL:   #C0A1C6ff;
    UGT:   #EC407Aff;
    IMG:   #EC407Aff;
    ON:    #61C766ff;
    OFF:   #EC7875ff;
    BDR:   #242428ff;
}
